@charset "utf-8";

@font-face {
    font-family: "Outfit";
    src: url("https://fonts.google.com/specimen/Outfit");
  }

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
}

div {
    background-color: white;
    height: 450px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 260px;
    height: 260px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 15px;
}

